<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.firebase.quickstart.database">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--
            2017_10_18 이재인 커스턴 타이틀바 생성, NewPostActivity,PostDetatilAcitivity NotitleBar 로 만듬
            2017_10_20 이재인 스플레쉬 화면 생성 현재 intent-filter -> splash

    !-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_find_loc"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
             />
        <activity android:name=".NewPostActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />

        <activity android:name=".SignInActivity"
            android:theme="@style/AppTheme.NoActionBar"
            >

        </activity>


        <activity android:name=".PostDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Map.MapsActivity"
            android:label="@string/title_activity_maps"/>

        <service android:name=".Notification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".Notification.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <activity android:name=".UserActivity"
            android:theme="@style/AppTheme.NoActionBar"
            >

        </activity>

        <activity android:name=".SplashActivity"
            android:theme="@style/SplashTheme"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
